extends layout
include ./static_table_mixin.pug

block content
  table.table(class='table-fixed')
    thead
      tr
        th Date
        th Status on Waking up
        th Severity
        th Relief Method: Tea
        th Relief Method: Walk
        th Relief Method: Bath
        th Relief Method: Aciloc
        th Relief Method: Food
        th Relief Method: Random Medicine
        th Relief Method: Rizora
        th Possible Trigger: Took night meds on time
        th Possible Trigger: Took Ayurvedic medicine
        th Possible Trigger: Overexertion
        th Possible Trigger: Acidity
    tbody
      for entry in list_entries
        if entry.severity == '0'
          tr
            +table_data(entry)
        else if entry.severity > '0' && entry.severity < '6'
          tr.warning
            +table_data(entry)
        else
          tr.danger
            +table_data(entry)
