extends layout
include ./editable_table_mixin.pug

block content
  - var arr = ['n/a', 'helped', 'did not help'];
  h1 #{entry.datestr}
  button.glyphicon.glyphicon-pencil(data-toggle="modal" href='#inputModal' data-target="#inputModal") Edit
  button.glyphicon.glyphicon-trash(data-toggle='modal', data-target='#deleteModal') Delete
  div
    table.table.table-bordered
      tbody
        +entry_table(entry, true)
  div.modal.fade(id='inputModal', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          h2.modal-title Edit Entry for #{entry.datestr}
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden="true") &times;
        div.modal-body
          form(method='POST', action=(entry.date_ts + '/update'))
            table.table.table-bordered
              tbody
                +entry_table(entry, false)
            button.btn.btn-primary(type='submit') Save
  div.modal.fade(id='deleteModal', aria-hidden='true')
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden="true") &times;
          h2.modal-title Delete Entry
        div.modal-body
          form(method='POST', action=entry.date_ts+'/delete')
            p Are you sure you want to delete the entry for #{entry.datestr}?
            button.btn.primary(type='submit') Yes
