extends layout
include ./editable_table_mixin.pug

block content
  -var default_entry = { status_on_wakeup: "fine", severity: 0, relief_methods: { tea: "n/a", walk: "n/a", bath: "n/a", aciloc: "n/a", food: "n/a", random: "n/a", rizora: "n/a"}, status_of_triggers: {night_meds_on_time: false, ayurvedic_medicine: false, overexertion: false, acidity: false}}
  h1 #{title}
  if errors
    ul.bg-warning.text-white
      for error in errors
        li!= error.msg
  form(method='POST', action='')
    table.table.table-bordered
      tbody
        tr
          td Date
          td
            input.form-control(name='date', type='date')
        +entry_table(default_entry, false)
    button.btn.btn-primary(type='submit') Save
    button.btn.btn-secondary(type='reset') Reset
