body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.circle-text {
  background: blue;
  color: white;
  width: 25px;
  height: 100%;
  border-radius: 30%;
  vertical-align: middle;
  text-align: center;
}

.div-title{
  font-weight: bold;
  font: 32px Times;
}

.center-elem {
  margin: auto;
}

.center-text {
  text-align: center;
}

.home-page-text {
  font: 30px Times;
}

.bordered-div{
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #89cff0;
}

.flex-box-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.table-fixed tbody{
  height:500px;
  overflow-y:auto;
  width: 100%;
}
.table-fixed thead,tbody,tr,td,th{
  display:block;
}
.table-fixed tbody td{
  float:left;
}
.table-fixed thead tr th {
  float:left;
}
*/
